In [1]:
# Raw Package
import numpy as np
import pandas as pd

#Data Source
import yfinance as yf

import datetime as dt

from plotly.offline import plot
import plotly.graph_objects as go
import plotly.express as px
from plotly.graph_objs import Scatter

In [2]:
df1 = yf.download(tickers = 'AAPL', period='1d', interval='1d')
df2 = yf.download(tickers = 'AMZN', period='1d', interval='1d')
df3 = yf.download(tickers = 'GOOGL', period='1d', interval='1d')
df4 = yf.download(tickers = 'UBER', period='1d', interval='1d')
df5 = yf.download(tickers = 'TSLA', period='1d', interval='1d')
df6 = yf.download(tickers = 'TWTR', period='1d', interval='1d')

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [3]:
df1.insert(0, "Ticker", "AAPL")
df2.insert(0, "Ticker", "AMZN")
df3.insert(0, "Ticker", "GOOGL")
df4.insert(0, "Ticker", "UBER")
df5.insert(0, "Ticker", "TSLA")
df6.insert(0, "Ticker", "TWTR")

In [4]:
df = pd.concat([df1, df2, df3, df4, df5, df6], axis=0)

In [5]:
df.head()

,Ticker,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,,
2022-07-08,AAPL,145.259995,147.550003,145.000000,147.039993,147.039993,64493200
2022-07-08,AMZN,114.599998,116.580002,113.690002,115.540001,115.540001,45658200
2022-07-08,GOOGL,2345.000000,2393.699951,2338.030029,2387.070068,2387.070068,1910700
2022-07-08,UBER,22.430000,22.959999,21.832001,22.340000,22.340000,20214200
2022-07-08,TSLA,727.000000,764.940002,723.479980,752.289978,752.289978,33343700

In [6]:
df.reset_index(level=0, inplace=True)
df.head()

,Date,Ticker,Open,High,Low,Close,Adj Close,Volume
0,2022-07-08,AAPL,145.259995,147.550003,145.000000,147.039993,147.039993,64493200
1,2022-07-08,AMZN,114.599998,116.580002,113.690002,115.540001,115.540001,45658200
2,2022-07-08,GOOGL,2345.000000,2393.699951,2338.030029,2387.070068,2387.070068,1910700
3,2022-07-08,UBER,22.430000,22.959999,21.832001,22.340000,22.340000,20214200
4,2022-07-08,TSLA,727.000000,764.940002,723.479980,752.289978,752.289978,33343700

In [7]:
df.columns = ['Date', 'Ticker', 'Open', 'High', 'Low', 'Close', 'Adj_Close',
       'Volume']

In [8]:
df.head()

,Date,Ticker,Open,High,Low,Close,Adj_Close,Volume
0,2022-07-08,AAPL,145.259995,147.550003,145.000000,147.039993,147.039993,64493200
1,2022-07-08,AMZN,114.599998,116.580002,113.690002,115.540001,115.540001,45658200
2,2022-07-08,GOOGL,2345.000000,2393.699951,2338.030029,2387.070068,2387.070068,1910700
3,2022-07-08,UBER,22.430000,22.959999,21.832001,22.340000,22.340000,20214200
4,2022-07-08,TSLA,727.000000,764.940002,723.479980,752.289978,752.289978,33343700

In [9]:
convert_dict = {'Date': object}
 
df = df.astype(convert_dict)

In [10]:
df.dtypes

Date          object
Ticker        object
Open         float64
High         float64
Low          float64
Close        float64
Adj_Close    float64
Volume         int64
dtype: object

In [11]:
df.head()

,Date,Ticker,Open,High,Low,Close,Adj_Close,Volume
0,2022-07-08 00:00:00,AAPL,145.259995,147.550003,145.000000,147.039993,147.039993,64493200
1,2022-07-08 00:00:00,AMZN,114.599998,116.580002,113.690002,115.540001,115.540001,45658200
2,2022-07-08 00:00:00,GOOGL,2345.000000,2393.699951,2338.030029,2387.070068,2387.070068,1910700
3,2022-07-08 00:00:00,UBER,22.430000,22.959999,21.832001,22.340000,22.340000,20214200
4,2022-07-08 00:00:00,TSLA,727.000000,764.940002,723.479980,752.289978,752.289978,33343700

In [12]:
df1.info

<bound method DataFrame.info of            Ticker        Open        High    Low       Close   Adj Close  \
Date
2022-07-08   AAPL  145.259995  147.550003  145.0  147.039993  147.039993

              Volume
Date
2022-07-08  64493200  >

In [14]:
data = yf.Ticker("AAPL")

In [17]:
data.news

[{'uuid': '69540f0e-f2a8-3de9-8ec7-9d14991cb476',
  'title': 'Texans Asked to Conserve Electricity as Grid Nears the Brink',
  'publisher': 'Bloomberg',
  'link': 'https://finance.yahoo.com/news/texans-asked-conserve-electricity-scorching-053742687.html',
  'providerPublishTime': 1657539011,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/RQwjRqIxM6XAs2FQpNZ17Q--~B/aD0xMzMzO3c9MjAwMDthcHBpZD15dGFjaHlvbg--/https://s.yimg.com/uu/api/res/1.2/69Y0CoOJ7x9Gz_OGopxh8w--~B/aD0xMzMzO3c9MjAwMDthcHBpZD15dGFjaHlvbg--/https://media.zenfs.com/en/bloomberg_markets_842/b661ae1e9737989cc9dfbf7b1a598fe1',
     'width': 2000,
     'height': 1333,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/sxtijenOgbPehvSKEDk8UA--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://s.yimg.com/uu/api/res/1.2/69Y0CoOJ7x9Gz_OGopxh8w--~B/aD0xMzMzO3c9MjAwMDthcHBpZD15dGFjaHlvbg--/https://media.zenfs.com/en/bloomberg_markets_842/b661ae1e9737989cc9dfbf7b1a598fe1',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['AAPL', 'AAL', 'TSLA', 'XOM']},
 {'uuid': 'f5c556c9-2530-326b-b717-900bfc97d542',
  'title': '2 of the Best Growth Stocks to Buy if Inflation Has Peaked',
  'publisher': 'Motley Fool',
  'link': 'https://finance.yahoo.com/m/f5c556c9-2530-326b-b717-900bfc97d542/2-of-the-best-growth-stocks.html',
  'providerPublishTime': 1657537800,
  'type': 'STORY',
  'relatedTickers': ['AMD', 'MSFT', 'AAPL', 'AMZN']},
 {'uuid': '2b6d8794-c634-4f03-a649-e8536876d783',
  'title': 'Citi sees a surprising stock market rally into year-end',
  'publisher': 'Yahoo Finance',
  'link': 'https://finance.yahoo.com/news/citi-stock-market-rally-year-end-110843823.html',
  'providerPublishTime': 1657537723,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/6utabzdD2alU86.bWBOnDg--~B/aD0zMDI3O3c9Mzc5MjthcHBpZD15dGFjaHlvbg--/https://s.yimg.com/os/creatr-uploaded-images/2022-07/74faabd0-0106-11ed-97be-eca8c630f720',
     'width': 3792,
     'height': 3027,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/6nrdz.9oY.Zqow9f0g4Jvg--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://s.yimg.com/os/creatr-uploaded-images/2022-07/74faabd0-0106-11ed-97be-eca8c630f720',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['^GSPC',
   '^DJI',
   'AAPL',
   'TSLA',
   'XLE',
   '^IXIC',
   'NFLX',
   'AMZN']},
 {'uuid': '21f2fba4-2d55-4490-a9c0-a6793f57a451',
  'title': "Stock market: Here's what usually happens after a 20% plunge",
  'publisher': 'Yahoo Finance',
  'link': 'https://finance.yahoo.com/news/what-usually-happens-next-to-the-stock-market-plunge-152810310.html',
  'providerPublishTime': 1657466890,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/6s14yRox1S7jNs3Cdlbf5Q--~B/aD0zMDQxO3c9NDUxNzthcHBpZD15dGFjaHlvbg--/https://s.yimg.com/os/creatr-uploaded-images/2021-01/7a9c9e50-639a-11eb-b7f7-8092caf2ef6d',
     'width': 4517,
     'height': 3041,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/9MMKdvtPbVvIsMReEoYVXQ--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://s.yimg.com/os/creatr-uploaded-images/2021-01/7a9c9e50-639a-11eb-b7f7-8092caf2ef6d',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['AAPL', 'AMZN', 'NFLX', 'TSLA']},
 {'uuid': '1bac06f6-11f9-3e72-b39b-9b58ceef55cd',
  'title': 'The Apple Watch Series 7 is Just $284 Ahead of Prime Day',
  'publisher': 'TheStreet.com',
  'link': 'https://finance.yahoo.com/m/1bac06f6-11f9-3e72-b39b-9b58ceef55cd/the-apple-watch-series-7-is.html',
  'providerPublishTime': 1657466520,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/qyawN8tg.fbe2Q2FqJ_qmA--~B/aD0yMjY3O3c9NDAzMDthcHBpZD15dGFjaHlvbg--/https://s.yimg.com/uu/api/res/1.2/1ITWKjl_gfDZF0kExvlt4Q--~B/aD0yMjY3O3c9NDAzMDthcHBpZD15dGFjaHlvbg--/https://media.zenfs.com/en/thestreet.com/5e8d245f8c9826498c5fd2f422f5a025',
     'width': 4030,
     'height': 2267,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/pWCzPGABGorgdqmr0ljohg--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://s.yimg.com/uu/api/res/1.2/1ITWKjl_gfDZF0kExvlt4Q--~B/aD0yMjY3O3c9NDAzMDthcHBpZD15dGFjaHlvbg--/https://media.zenfs.com/en/thestreet.com/5e8d245f8c9826498c5fd2f422f5a025',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['AAPL']},
 {'uuid': 'd68aa7be-a8b2-3421-a96f-adc782a39398',
  'title': 'Tech’s Red-Hot Hiring Spree Shows Signs of Cooling',
  'publisher': 'The Wall Street Journal',
  'link': 'https://finance.yahoo.com/m/d68aa7be-a8b2-3421-a96f-adc782a39398/tech%E2%80%99s-red-hot-hiring-spree.html',
  'providerPublishTime': 1657445400,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/Y2UYy0wza6iOE2KF3OH6KA--~B/aD02NDA7dz0xMjgwO2FwcGlkPXl0YWNoeW9u/https://s.yimg.com/uu/api/res/1.2/jNSlbpsNQeqOVvuZVCxPWA--~B/aD02NDA7dz0xMjgwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/wsj.com/78700a2cdd3aaff57b7332de355adafb',
     'width': 1280,
     'height': 640,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/d5AKhpsNJq3eBAG6qlthVw--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://s.yimg.com/uu/api/res/1.2/jNSlbpsNQeqOVvuZVCxPWA--~B/aD02NDA7dz0xMjgwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/wsj.com/78700a2cdd3aaff57b7332de355adafb',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['AMZN', 'MSFT', 'GOOG', 'GOOGL', 'META', 'AAPL']},
 {'uuid': 'f91eec01-b14b-31b9-9d0a-da7058aa6ae0',
  'title': 'Tim Cook Snubs Tesla and Elon Musk With a Big Rival',
  'publisher': 'TheStreet.com',
  'link': 'https://finance.yahoo.com/m/f91eec01-b14b-31b9-9d0a-da7058aa6ae0/tim-cook-snubs-tesla-and-elon.html',
  'providerPublishTime': 1657396800,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/KuFNv1BBwYrHbrkA2dHRLQ--~B/aD00NzA7dz03NTA7YXBwaWQ9eXRhY2h5b24-/https://s.yimg.com/uu/api/res/1.2/smgHt39GOp6_iQM6s9qPKQ--~B/aD00NzA7dz03NTA7YXBwaWQ9eXRhY2h5b24-/https://media.zenfs.com/en/thestreet.com/8f8ba0480f36ea8f62cd83be722fc067',
     'width': 750,
     'height': 470,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/NRXAwgJl2TzpbIuAA29DQA--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://s.yimg.com/uu/api/res/1.2/smgHt39GOp6_iQM6s9qPKQ--~B/aD00NzA7dz03NTA7YXBwaWQ9eXRhY2h5b24-/https://media.zenfs.com/en/thestreet.com/8f8ba0480f36ea8f62cd83be722fc067',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['AAPL', 'TSLA', 'RIVN']},
 {'uuid': 'e8a6e7c2-abcf-3214-87a6-e784b99f5170',
  'title': 'Apple ID Sharing Can Make a Digital Mess. Here’s How to Clean It Up.',
  'publisher': 'The Wall Street Journal',
  'link': 'https://finance.yahoo.com/m/e8a6e7c2-abcf-3214-87a6-e784b99f5170/apple-id-sharing-can-make-a.html',
  'providerPublishTime': 1657371600,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/Rx3JAt.PsZATuobcNszZEQ--~B/aD02NDA7dz0xMjgwO2FwcGlkPXl0YWNoeW9u/https://s.yimg.com/uu/api/res/1.2/i47Lwpyc5ChhnWPX2p9ciQ--~B/aD02NDA7dz0xMjgwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/wsj.com/927c9d4188fe3240e658cf969b3d2e1f',
     'width': 1280,
     'height': 640,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/hU3Pd0mrfomBrxBH2p3_jQ--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://s.yimg.com/uu/api/res/1.2/i47Lwpyc5ChhnWPX2p9ciQ--~B/aD02NDA7dz0xMjgwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/wsj.com/927c9d4188fe3240e658cf969b3d2e1f',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['AAPL']}]