In [1]:
# Raw Package
import numpy as np
import pandas as pd

#Data Source
import yfinance as yf

In [2]:
ticker = pd.read_csv('tickers.csv')
ticker.head()

,Symbol,Name,Last Sale,Net Change,% Change,Market Cap,Country,IPO Year,Volume,Sector,Industry
0,A,Agilent Technologies Inc. Common Stock,$121.84,1.280,1.062%,3.639459e+10,United States,1999.0,92940,Industrials,Electrical Products
1,AA,Alcoa Corporation Common Stock,$41.44,-0.650,-1.544%,7.643554e+09,NaN,2016.0,1026743,Industrials,Metal Fabrications
2,AAC,Ares Acquisition Corporation Class A Ordinary ...,$9.84,0.000,0.00%,1.230000e+09,NaN,2021.0,15221,Finance,Business Services
3,AACG,ATA Creativity Global American Depositary Shares,$1.07,0.010,0.943%,3.381049e+07,China,2008.0,2702,Consumer Discretionary,Service to the Health Industry
4,AACI,Armada Acquisition Corp. I Common Stock,$9.885,0.015,0.152%,2.047134e+08,United States,2021.0,181467,Industrials,Consumer Electronics/Appliances

In [3]:
ticker.columns

Index(['Symbol', 'Name', 'Last Sale', 'Net Change', '% Change', 'Market Cap',
       'Country', 'IPO Year', 'Volume', 'Sector', 'Industry'],
      dtype='object')

In [4]:
ticker.drop('Last Sale', axis=1, inplace = True)
ticker.drop('Net Change', axis=1, inplace = True)
ticker.drop('% Change', axis=1, inplace = True)
ticker.drop('Market Cap', axis=1, inplace = True)
ticker.drop('Country', axis=1, inplace = True)
ticker.drop('IPO Year', axis=1, inplace = True)
ticker.drop('Volume', axis=1, inplace = True)
ticker.drop('Sector', axis=1, inplace = True)
ticker.drop('Industry', axis=1, inplace = True)

In [5]:
ticker.head()

  Symbol                                               Name
0      A             Agilent Technologies Inc. Common Stock
1     AA                    Alcoa Corporation Common Stock
2    AAC  Ares Acquisition Corporation Class A Ordinary ...
3   AACG   ATA Creativity Global American Depositary Shares
4   AACI            Armada Acquisition Corp. I Common Stock

In [6]:
#stocks = {}
#for tick in ticker['Symbol']:
#    stocks[tick] = data = yf.download(tickers=tick, period='1d', interval='1m')

In [9]:
df_list = pd.read_html('https://finance.yahoo.com/gainers')
majorStockIdx = df_list[0]
majorStockIdx.head()

ValueError: No tables found